* {
    margin: 0;
    padding: 0;
    background: gray;
}

/* whatsapp logo */

.float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    display: grid;
    place-items: center;
    font-size: 35px;
    box-shadow: 0px 0px 2px #b8b8b8;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    z-index: 100;
    animation: action 1s infinite alternate;
    transition: all 0.3s linear;

}

.my-float {
    margin-top: 2px;
}

@keyframes action {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-15px);
    }
}

section {
    /* position: absolute; */
    width: 100%;
    height: 100vh;
}

section nav .img {
    /* width: 160px; */
    position: absolute;
    background: transparent;
    top: -24px;
    left: 16px;
}

section nav .img img {
    width: 160px;
    background: transparent;
}

nav {
    position: relative;
    display: flex;
    width: 100%;
    height: 70px;
}

nav ul {
    position: absolute;
    right: 0;
    display: flex;
    margin: 13px 40px;
    float: right;
}

nav ul li {
    position: relative;
    display: flex;
    margin: 20px 15px;
    font-style: normal;
}

nav ul li a {
    text-decoration: none;
    color: antiquewhite;
    transition: 0.5s;
}

nav ul li a::after {
    content: '';
    position: relative;
    height: 2px;
    width: 0%;
    background: #8e1188;
    display: block;
    transition: 0.5s;
}

nav ul li a:hover::after {
    color: #fff;
    width: 100%;
    /* border: 1px solid black;
    padding: 4px;
    transform: translateY(-8px); */
}


.text {
    width: 328px;
    position: relative;
    top: 180px;
    left: 100px;
    font-size: 26px;
    font-family: Arial, Helvetica, sans-serif;
}

.text p {
    font-size: 18px;
}

.text .an {
    font-size: 15px;
    width: 426px;
}

.text h1 span {
    color: #601d8ce6;
    display: inline;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.text h1 i {
    font-style: normal;
    color: #8e1188;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.button {
    margin-top: 10px;
}

.button input {
    padding: 10px;
    border: 2px solid #8e1188;
    border-radius: 5px;
    outline: 0;
    color: black;
    transition: 0.5s;
    color: #8e1188;
}

.button input:hover {
    background: #8e1188;
    color: black;
}

.button .bt {
    border: 2px solid #601d8ce6;
    color: #601d8ce6;
}

.button .bt:hover {
    background: #601d8ce6;
    color: black;
}

.image .ig {
    width: 300px;
    border-radius: 50%;
    transform: rotate(14deg);
    position: absolute;
    right: 100px;
    top: 27%;
}

/* About section */

section .container {
    width: 85%;
    height: 100vh;
    background: #8e1188;
    margin: 0 auto;
}

section .container .right {
    position: relative;
    float: right;
    right: 100px;
    top: 50px;
    background-image: url(./background.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
}

section .container .right img {
    position: relative;
    float: right;
    /* left: 10px; */
    width: 380px;
    background: transparent;
    border-radius: 50%;
    transform: rotate(17deg);
    overflow: hidden;
}

section .container .left {
    position: relative;
    float: left;
    width: 493px;
    background: transparent;
    top: 240px;
    display: flex;
    flex-direction: column;
}

section .container .left h2 {
    font-size: 23px;
}

section .container .left h2+p {
    display: inline;
    background: transparent;
}